/* Element Tags */
html, body {
  height: 100%;
  width: 100%;
}

h5 {
  color: #2B2B2B;
}

/* Bottom Two Subsections */
#clarifi {
  margin-right: 10px
}

.p {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 0;
}

#left_content {

  background-color: rgba(226, 106, 106, .8);
  background-color: #EEFFFF;
}


/* Results Section (card layout) */
#results {
  border-top: 1px;
  border-style: solid;
  border-color: black;
  height: 300px;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.cards {
  margin-bottom: 5px;
  background-color: #E26A6A;
  padding: 10px;
  width: 100%;
  height: 20%;
}

.cards:hover {
  background-color: gray;
}

.cards img {
  width: 100%;
  max-width: 150px;
}

.left_img {
  float: left;
  width:25%;
  display: inline-block;
  height: 100%;
  padding-right: 25px;
}

.more_info {
  display: inline-block;
  padding-right: 15%;
  width: 75%;
}

/* http://stackoverflow.com/questions/17354364/how-to-make-an-entire-div-clickable-with-css */
div.clickable {
  position: relative;
}

div.clickable a{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
