/* Element Tags */
html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #2B2B2B;
  margin: 0;
}

/* Bottom Two Subsections */
#clarifi {
  margin-right: 10px
}

.p {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 0;
}

#left_content {
  background-color: rgba(226, 106, 106, .8);
  background-color: #EEFFFF;
}


/* Results Section (card layout) */
#result_header {
  background-color: gray;
}

#results {
  height: 300px;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#ingredients {
  white-space: nowrap;
  overflow: scroll;
  margin-left: 2%;
  margin-right: 2%;

}

.ingredient {
  margin-right: 3%;
  font-size: 18px;
}

.cards {
  display: inline-block;
  margin-bottom: 1%;
  background-color: #E26A6A;
  width: 49.5%;
  height: 25%;
  max-height: 200px;
  min-height: 150px;
}
.cards:nth-child(odd) {
  float: left;
}

.cards:nth-child(even) {
  float: right;
}

.cards:hover {
  background-color: gray;
}

.cards img {
  width: auto;
  height: 100%;
  min-width: 180px;
}

.left_img {
  float: left;
  width:45%;
  display: inline-block;
  height: 100%;
  max-width: 250px;
}

.card_info {
  padding-top: 10px;
  display: inline-block;
  padding-right: 10%;
}

/* http://stackoverflow.com/questions/17354364/how-to-make-an-entire-div-clickable-with-css */
div.clickable {
  position: relative;
}

div.clickable a{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}

@media (max-width: 1000px) {
  .cards {
    width: 100%;
    height: 5%;
    font-size: 12px;
    min-height: 100px;
  }

  .cards h5{
    font-size: 20px;
  }

  .cards img{
    width: 50%;
    min-width: 100px;
  }

  .left_img {
    width: 25%;
  }

  .card_info {
    padding-top: 0px;
  }
}
