/* Element Tags */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.btn-floating {
  background-color: #e26a6a;
}

.btn-floating:hover {
  background-color: #cb5f5f;
}

/* Bottom Two Subsections */
#clarifi {
  margin-right: 10px
}

.max_height {
  height: 200px;
}

.max_height_list {
  height: 180px;
  padding: 10px;
}

.p {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 0;
}

#left_content {

}

#right_content {
  border-left: 3px solid gray;
}

.modal {
  border-radius: 35px;
}

#upload_btn{
  margin-top: 50px;
  width: 100%;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  color:#fff;
  border-radius:2px;
  text-align:center;
  float:left;
  cursor:pointer;
  position: absolute;
   bottom: 70px;
   right: 0;
}

#upload_btn:hover{
  background-color: #d3d3d3;
}

#photo_upload_text {
  position: relative;
  color: black;
  font-size: 18px;
  bottom: -50px;
}

.hide_file {
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

/* Results Section (card layout) */
#result_header {
  background-color: #87B79A;
  display: none;
}

#results {
  background-color: #d3d3d3;
  display: none;
  height: 300px;
  overflow: scroll;
  width: 100%;
  height: 88%;
}

#results::-webkit-scrollbar {
  display: none;
}

#ingredients {
  white-space: nowrap;
  overflow: scroll;
  margin-left: 2%;
  margin-right: 2%;
}

#ingredients::-webkit-scrollbar {
    display: none;
}

.step_number {
  padding-right: 10px;
}


input {
  padding-top: 5%;
}

.ingredient {
  margin-right: 3%;
  font-size: 18px;
}

.cards {
  display: inline-block;
  margin-bottom: 1%;
  background-color: white /*#E26A6A*/;
  width: 49.5%;
  height: 25%;
  max-height: 200px;
  min-height: 150px;
}

.cards:nth-child(odd) {
  float: right;
}

.cards:nth-child(even) {
  float: left;
}

.cards:hover {
  background-color: #c3dbcc;
}

.cards img {
  width: auto;
  height: 100%;
  min-width: 180px;
  max-width: 180px;
}

.left_img {
  float: left;
  display: inline-block;
  height: 100%;
  margin-right: 1%;
}

.card_info {
  padding-top: 10px;
  display: inline-block;
  padding-right: 5%;
  font-size: 1vw;
}

.meal_titles {
  white-space: nowrap;
  overflow: scroll;
}

/* http://stackoverflow.com/questions/17354364/how-to-make-an-entire-div-clickable-with-css */
div.clickable {
  position: relative;
}

div.clickable a{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
.centered_div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ingredients_title {
  font-size: 15px;
}

.center_image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 500px;
}

.required_ingredients {
  width: 80%;
}

@media (max-width: 1200px) {
  .cards {
    width: 100%;
    height: 5%;
    font-size: 12px;
    min-height: 100px;
  }

  .cards h5{
    font-size: 20px;
  }

  .cards img{
    width: 50%;
    min-width: 100px;
  }

  .left_img {
    width: 25%;
    max-width: 120px;
  }

  .card_info {
    padding-top: 0px;
    font-size: 1.6vw;
  }

  .mobile_block {
    margin-top: -20px;
    padding-right: 20px;
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .card_info {
    font-size: 2vw;
  }

  #left_content {

  }

  #right_content {
    border-top: 2px solid gray;
    border-left: 0px solid white;
  }
}
